.scaleup-vertical-center {
    animation: scaleup-vertical-center 1s ease 0s 1 normal forwards;
}
@keyframes scaleup-vertical-center {
    0% {
      transform: scaleY(0.4);
    }
  
    100% {
      transform: scaleY(1);
    }
  }