.dropshadow-bottom-right {
    animation: dropshadow-bottom-right 1s ease 0s 1 normal forwards;
}
@keyframes dropshadow-bottom-right {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  
    100% {
      box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }