.dropshadow-center {
    animation: dropshadow-center 1s ease 0s 1 normal forwards;
}
@keyframes dropshadow-center {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  
    100% {
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }