.dropshadow-left {
    animation: dropshadow-left 1s ease 0s 1 normal forwards;
}
@keyframes dropshadow-left {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  
    100% {
      box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
    }
  }