.dropshadow-top-left {
    animation: dropshadow-top-left 1s ease 0s 1 normal forwards;
}
@keyframes dropshadow-top-left {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  
    100% {
      box-shadow: -12px -12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }