.slide-left {
    animation: slide-left 1s ease 0s 1 normal forwards;
}
@keyframes slide-left {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-100px);
    }
  }