.slide-top {
    animation: slide-top 1s ease 0s 1 normal forwards;
}
@keyframes slide-top {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(-100px);
    }
  }