.blink-variation2 {
    animation: blinkvar2 2s ease 0s 1 normal forwards;
}
@keyframes blinkvar2 {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0.2;
    }
  
    100% {
      opacity: 1;
    }
  }